* {
  box-sizing: border-box;
  margin:0;
}

header {
  text-align:center;
  vertical-align:middle;
/*  background-image:url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Bohol_%28Philippines%29_banner_Chocolate_Hills.jpg");*/
  height:300px;
  margin: 0 0;
}

h1 {
  color: black;
  text-align:center;
  padding:40px;
  font-size:50px;
  font-weight:normal;
}

body {
/*  background-color:#25587A;*/
  background-image:url("./DandR.jpg");
  width:100%;
  margin: 0 0;
}

nav {
  position:sticky;
  top:0;
}

nav ul {
  list-style-type:none;
  background-color:#383B3D;
  overflow:hidden;
/*  border:1px solid black;*/
  margin: 0 0;
  padding: 0;
}

nav li {
  float:left;
  text-align:center;
  margin: 0 auto;
  width:20%;
  border-right:1px solid black;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display:block;
  text-decoration:none;
  color:#DFE2E5;
  padding: 6px;
}

nav a:hover {
  background-color:#25587A;
  color:white;
}

.active {
  background-color:#25587A;
  color:white;
}

main {
/*  background-color:#E2DCDC;*/
  color: white;
  text-align:center;
  font-size:30px;
  padding: 10px 10px;
}

p {
  color:black;
  margin-bottom:1cm;
}

.first-line {
  margin-bottom:0cm;
}

.heading {
   padding:20px;
}

.container {
  padding:0 0px;
}

.container li {
  padding:10px;
}

a:hover {
  color:#FFD707;
}

footer {
  background-color:#383B3D;
}

footer p {
  color:black;
  display:inline-block;
}

footer .links {
  text-align:center;
}
