* {
  box-sizing: border-box;
  margin:0;
}

header {
  text-align:center;
  vertical-align:middle;
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Bohol_%28Philippines%29_banner_Chocolate_Hills.jpg");
  height:300px;
  margin: 0 auto;
}

h1 {
  color: black;
  text-align:center;
  padding:40px;
  font-size:50px;
  font-weight:normal;
}

body {
  background-color:#25587A;
  width:95%;
  margin: 0 auto;
}

nav {
  position:sticky;
  top:0;
}

nav ul {
  list-style-type:none;
  background-color:#383B3D;
  overflow:hidden;
  border:1px solid black;
  margin: 0 auto;
  padding: 0;
}

nav li {
  float:left;
  text-align:center;
  margin: 0 auto;
  width:20%;
  border-right:1px solid black;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display:block;
  text-decoration:none;
  color:#DFE2E5;
  padding: 6px;
}

nav a:hover {
  background-color:black;
  color:white;
}

/*
.active {
  background-color:black;
  color:white;
}
*/

main {
  background-color:#E2DCDC;
  padding: 0 20px;
  min-height:600px;
}

p {
  color:black;
}
